*{
    margin: 0;
    padding: 0;
}

.logo-navbar{
    width: 100px;
}

.navbar{
    height: 60px;
    background: #000000;
    opacity: 0.85;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-links{
    display: flex;
    align-items: stretch;
}

.navbar-item{
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.navbar a.active{
    background: #ffcc80;
    color: black;
}

.navbar a:hover{
    background: #ddd;
    color: black;
}